:root {
  --theme: #f7f7f7;
  --entry: #ffffff;
  --primary: #2d3436;
  --secondary: #0984e3;
  --tertiary: rgba(9, 132, 227, 0.08);
  --content: rgba(45, 52, 54, 0.88);
  --hljs-bg: #1c1d21;
  --code-bg: #f0f0f0;
  --border: #dfe6e9;
}

.dark {
  --theme: #222831;
  --entry: #393e46;
  --primary: rgba(238, 238, 238, 0.95);
  --secondary: #00adb5;
  --tertiary: rgba(0, 173, 181, 0.18);
  --content: rgba(238, 238, 238, 0.85);
  --hljs-bg: #2c3e50;
  --code-bg: #34495e;
  --border: #4a6572;
}
